.container {
    width: 100%;
    font-family: "Shincomic";
    font-size: 20px;
    .content{
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 0.5em;
        display: flex;
        justify-content: space-around;
        &::before{
            content: '';
            height: 2px;
            width: 100%;
            top: 50%;
            background-color: #466ec4;
            position: absolute;
            z-index: 0;
        }
        .item{
            background-color: #fff;
            color: #466ec4;
            border-radius: 10px;
            border: solid 2px #466ec4;
            padding: 0.3em;
            z-index: 1;
            &:hover{
                background-color: #466ec4;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}