.container{
    width: 60%;
    margin: 1em auto;
    margin-top: 7em;
    padding: 1em;
    font-family: "Opensans";
    .title{
        font-size: 2.5em;
        text-align: center;
    }
    .exam{
        font-family: "Shincomic";
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 1em;
    }
    .detail{
        width: 85%;
        margin: 0 auto;
        color: #5e5e5e;
        max-width: 60em;
        .part{
            padding: 1em;
            border-bottom: solid 1px #d1d1d1;
            display: flex;
            justify-content: space-between;
            font-size: 1.3em;
            font-weight: bold;
        }
    }
    .review{
        width: 10em;
        border-radius: 5px;
        background-color: #466ec4;
        margin: 1em auto;
        text-align: center;
        padding: 0.5em;
        font-size: 1.3em;
        color: #fff;
        cursor: pointer;
    }
}