body {
  font-family: "Roboto", sans-serif;
  .content{
    font-size: 18px;
    display: flex;
  }
  .trueAnswer{
    font-size: 18px;
    color: #00ff00;
    display: flex;
  }
  .falseAnswer{
    font-size: 18px;
    color: #ff2e2e;
    display: flex;
  }
  .text{
    margin-left: 0.5em;
  }
}
