.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        .avt{
            .img{
                width: 3em;
                height: 3em;
                border-radius: 50%; 
            }
        }
        .infor{
            padding: 0 1em;
            .name{
                font-size: 16px;
                font-weight: 550;
                &:hover{
                    text-decoration-line: underline;
                    color: #297eaf;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
            .point{
                font-weight: 600;
            }
        }
    }
}